/* RADA */
#PoznajNas {
    display: flex;
    align-items: center;
    justify-content: center;
    
    flex-wrap: wrap;
}

#PoznajNas h4 {
    width: 100%;
}

.person {
    width: 40%;
    background: #fff;
    margin: 0 1em 2em 1em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.person .name {
    width: 70%;
    margin: 0 0 0.5em 0;
}

.personPhoto {
    border-radius: 100%;
    width: 40%;
    margin: 0 0 0.3em 0;
}

.person .name .fa-user {
    border: 1px solid #acacac;
    border-radius: 100%;
    padding: 0.4em;
    font-size: 320%;
    color:  #acacac;
}

.person .name p {
    margin: 0 0 0.1em 0;
}

.person .name span {
    border-bottom: 1px solid #46adb2;
}

.person .functions {
    list-style-type: none;
    font-size: 0.9em;
}

.functions {
    width: 95%;
}

.functions li {
    margin: 0;
}

#AkcjaAnkietyzacja {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#NaszaDzialalnosc li {
    text-align: center;
    list-style: none;
    font-size: 1.1em;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.photosRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #aaa;
    margin: 1.5em 0 0 0;
    padding: 0 0 3em 0;
}

.photosRowEmpty {
    width: 100%;
    border-bottom: 1px solid #aaa;
    margin: 1.5em 0 0 0;
    padding: 0 0 1em 0;
}

.photosRowEmpty:nth-last-child(1) {
    border: 0px;
}

.photosRow img {
    width: 33%;
    height: 50%;
}



@media screen and (max-width: 768px) {
    .person {
        width: 100%;
    }

    .personPhoto {
        width: 60%;
    }

    .person .name .fa-user {
        font-size: 3.2em;
        padding: 0.55em;
    }

    #PoznajNas li {
        width: 100%;
    }
    
    .AnkietaIMG {
        width: 100%;
        min-height: 15em;
        max-height: auto;
        background: url("../img/ankietyzacja.png");
        background-size: cover;
    }

    .AnkietaIMG img {
        display: none;
    }

    #NaszaDzialalnosc li {
        font-size: 1em;
    }

    .photosRow {
        flex-wrap: wrap;
        padding: 0 0 1em 0;
    }
    
    .photosRowEmpty {
        width: 100%;
        border-bottom: 1px solid #aaa;
        padding: 0 0 0.5em 0;
    }
    
    .photosRowEmpty:nth-last-child(1) {
        border: 0px;
    }
    
    .photosRow img {
        max-width: 100%;
        width: 100%;
        height: auto;
        margin: 0.15em 0 0.15em 0;
    }
}

.AnkietaIMG img {
    display: initial;
    width: 100%;
}

/* WKS */
.docs {
    margin: 0 0 0 1em;
    color: #46adb2;
}

.docs li {
    margin: 0 0 0.8em 0;
}

.docs li a {
    border-bottom: 1px solid #46adb2;
}

@media screen and (min-width: 786px) {
    #wks {
        width: auto;
    }

    #wksicon {
        height: 2em;
    }
}

/* Button styles */
.fancyButton {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40%;
    height: 5vh;

    background: #fff;
    color: #46adb2;

    border-radius: 40px;
    border: #46adb2 1px solid;

    text-align: center;
    transition-duration: 0.2s;

    margin-left: auto;
    margin-right: auto;
}

.fancyButton:hover {
    color: #fff;
    background: #46adb2;
}

@media screen and (max-width: 786px) {
    .fancyButton {
        width: 85%;
        color: #fff;
        background: #46adb2;
    }
}


